@page "/event/create"

@using Client.Pages.Event.EventCreate.Speaker
@using Client.Pages.Event.EventCreate.Time

@using Shared.Event.Resources

<div class="content">

    <div class="row">
        <div class="col">
            <div class="card border border-secondary">
                <div class="card-header bg-light border-secondary header-elements-inline">
                    <h6 class="card-title">@EventLang.Create_Title</h6>
                </div>

                <div class="card-body">


                    <EditForm Model="@_createModel" OnValidSubmit="@SubmitAsync">

                        <FluentValidationValidator />

                        <div class="row">
                            <div class="col">
                                <div class="form-group form-group-floating">
                                    <div class="position-relative">
                                        <InputText @bind-Value="@_createModel.EventName" class="form-control form-control-outline-within" />
                                        <label class="label-floating">@EventLang.Form_EventName</label>
                                    </div>
                                    <ValidationMessage For="@(() => _createModel.EventName)" />
                                </div>
                            </div>
                        </div>

                        <SpeakerCreate />
                        <TimeCreate />

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">@EventLang.Form_ButtonCreate</button>
                        </div>

                    </EditForm>




                </div>
            </div>
        </div>
    </div>



</div>
