<fieldset class="mt-3">
    <legend class="text-uppercase font-size-lg font-weight-bold border-bottom">
        <div class="row">
            <div class="col-auto mr-auto mt-2"> Pembicara </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success-100 text-success btn-sm"><i class="icon-add"></i> Tambah</button>
            </div>
        </div>
    </legend>
    <EditForm Model="_eventCreateSpeakerModel" OnValidSubmit="@Save">
        <table class="table table-borderless">
            <thead class="sr-only">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in _eventCreateSpeakerModels)
                {
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-info border-transparent btn-icon rounded-pill ml-2"><i class="icon-pencil6"></i></button>
                            <button type="button" class="btn btn-outline-danger border-transparent btn-icon rounded-pill ml-2"><i class="icon-trash-alt"></i></button>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <input class="form-control form-control-outline-within" value="@item.Speaker" disabled="disabled" />
                                            <label class="label-floating">Nama Pembicara</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <input class="form-control form-control-outline-within"  value="@item.Topics" disabled="disabled"  />
                                            <label class="label-floating">Topik</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <input class="form-control form-control-outline-within"  value="@item.Institution" disabled="disabled"  />
                                            <label class="label-floating">Institusi</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                }

                @if (_showFormCreate)
                {
                    <tr>
                        <td>
                            <button  type="submit" class="btn btn-outline-primary border-transparent btn-icon rounded-pill ml-2"><i class="icon-floppy-disk"></i></button>
                            @*<button type="button" class="btn btn-outline-info border-transparent btn-icon rounded-pill ml-2"><i class="icon-pencil6"></i></button>*@
                            @*<button type="button" class="btn btn-outline-danger border-transparent btn-icon rounded-pill ml-2"><i class="icon-trash-alt"></i></button>*@
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <InputText @bind-Value="@_eventCreateSpeakerModel.Speaker" class="form-control form-control-outline-within" />
                                            <label class="label-floating">Nama Pembicara</label>
                                        </div>
                                        @*<ValidationMessage For="@(() => _createModel.EventName)" />*@
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <InputText @bind-Value="@_eventCreateSpeakerModel.Topics" class="form-control form-control-outline-within" />
                                            <label class="label-floating">Topik</label>
                                        </div>
                                        @*<ValidationMessage For="@(() => _createModel.TimeFinish)" />*@
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <InputText @bind-Value="@_eventCreateSpeakerModel.Institution" class="form-control form-control-outline-within" />
                                            <label class="label-floating">Institusi</label>
                                        </div>
                                        @*<ValidationMessage For="@(() => _createModel.TimeFinish)" />*@
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </EditForm>

    @*
        <div class="row">
        <div class="col-12">
        <div class="form-group form-group-floating">
        <div class="position-relative">
        <InputText @bind-Value="@item.Speaker" class="form-control form-control-outline-within" />
        <label class="label-floating">Nama Pembicara</label>
        </div>
        <ValidationMessage For="@(() => item.Speaker)" />
        </div>
        </div>

        <div class="col-sm-12 col-lg-6">
        <div class="form-group form-group-floating">
        <div class="position-relative">
        <InputText @bind-Value="@_createModel.Speaker" class="form-control form-control-outline-within" />
        <label class="label-floating">Topik</label>
        </div>
        <ValidationMessage For="@(() => _createModel.TimeFinish)" />
        </div>
        </div>

        <div class="col-sm-12 col-lg-6">
        <div class="form-group form-group-floating">
        <div class="position-relative">
        <InputText @bind-Value="@_createModel.Speaker" class="form-control form-control-outline-within" />
        <label class="label-floating">Institusi</label>
        </div>
        <ValidationMessage For="@(() => _createModel.TimeFinish)" />
        </div>
        </div>

        </div>*@



</fieldset>