@using Shared.Event.Resources

<tr>
    <td>

        @if (CDelete.HasDelegate)
        {
            <button onclick="@(() =>CUpdate.InvokeAsync() )" type="button" class="btn btn-outline-info border-transparent btn-icon rounded-pill ml-2"><i class="icon-pencil6"></i></button>
            <button onclick="@(() => CDelete.InvokeAsync())" type="button" class="btn btn-outline-danger border-transparent btn-icon rounded-pill ml-2"><i class="icon-trash-alt"></i></button>
        }
        else
        {
            <button type="submit" class="btn btn-outline-primary border-transparent btn-icon rounded-pill ml-2"><i class="icon-floppy-disk"></i></button>
            <button onclick="@(() => CCancel.InvokeAsync())" class="btn btn-outline-dark border-transparent btn-icon rounded-pill ml-2"><i class="icon-cancel-square2"></i></button>
        }

    </td>
    <td>
        <div class="row">

            <div class="col-sm-12 col-lg-6">
                <div class="form-group form-group-floating">
                    <div class="position-relative">
                        <InputTextArea rows="4" @bind-Value="@CModel.Place" class="form-control form-control-outline-within" disabled="@CReadOnly" />
                        <label class="label-floating">Tempat Acara</label>
                    </div>
                    <ValidationMessage For="@(() => CModel.Place)" />
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-floating">
                            <div class="position-relative">
                                <InputDate @bind-Value="CModel.DateStart" class="form-control form-control-outline-within" disabled="@CReadOnly" />
                                <label class="label-floating">@EventLang.Form_DateStart</label>
                            </div>
                            <ValidationMessage For="@(() => CModel.DateStart)" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group form-group-floating">
                            <div class="position-relative">
                                <InputText type="time" @bind-Value="CModel.TimeStart" class="form-control form-control-outline-within" disabled="@CReadOnly" />
                                <label class="label-floating">@EventLang.Form_TimeStart</label>
                            </div>
                            <ValidationMessage For="@(() => CModel.TimeStart)" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group form-group-floating">
                            <div class="position-relative">

                                <InputDate @bind-Value="CModel.DateFinish" class="form-control form-control-outline-within" disabled="@CReadOnly" />
                                <label class="label-floating">@EventLang.Form_DateFinish</label>
                            </div>
                            <ValidationMessage For="@(() => CModel.DateFinish)" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group form-group-floating">
                            <div class="position-relative">
                                <InputText type="time" @bind-Value="CModel.TimeFinish" class="form-control form-control-outline-within" disabled="@CReadOnly" />
                                <label class="label-floating">@EventLang.Form_TimeFinish</label>
                            </div>
                            <ValidationMessage For="@(() => CModel.TimeFinish)" />
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </td>
</tr>