@inherits FluxorComponent

@using Serti.Client.Pages.Identity.Store
@using Serti.Client.X.Extensions
@inject IState<IdentityState> IdentityState

<div class="sidebar-section">
    <div class="sidebar-user-material">
        <div class="sidebar-section-body">
            <div class="d-flex">
                <div class="flex-1">
                    <button type="button" class="btn btn-outline-light border-transparent btn-icon btn-sm rounded-pill">
                        <i class="icon-wrench"></i>
                    </button>
                </div>
                <a href="#" class="flex-1 text-center"><img src="/assets/images/placeholders/placeholder.jpg" class="img-fluid rounded-circle shadow-sm" width="80" height="80" alt=""></a>
                <div class="flex-1 text-right">
                    <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                        <i class="icon-transmission"></i>
                    </button>

                    <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                        <i class="icon-cross2"></i>
                    </button>
                </div>
            </div>

            <div class="text-center">
                <h6 class="mb-0 text-white text-shadow-dark mt-3">@IdentityState.Value.Email</h6>
                <span class="font-size-sm text-white text-shadow-dark">Santa Ana, CA</span>
            </div>
        </div>

        @*<div class="sidebar-user-material-footer">
            <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>User menu</span></a>
            </div>*@
    </div>

    @*<div class="collapse border-bottom" id="user-nav">
        <ul class="nav nav-sidebar">
        <li class="nav-item">
        <a href="#" class="nav-link">
        <i class="icon-user-plus"></i>
        <span>Menu item #1</span>
        </a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">
        <i class="icon-coins"></i>
        <span>Menu item #2</span>
        </a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">
        <i class="icon-comment-discussion"></i>
        <span>Menu item #3</span>
        <span class="badge badge-teal badge-pill align-self-center ml-auto">5</span>
        </a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">
        <i class="icon-cog5"></i>
        <span>Menu item #4</span>
        </a>
        </li>
        <li class="nav-item">
        <a href="#" class="nav-link">
        <i class="icon-switch2"></i>
        <span>Menu item #5</span>
        </a>
        </li>
        </ul>
        </div>*@
</div>

<div class="sidebar-section">
    <ul class="nav nav-sidebar" data-nav-type="accordion">

        <!-- Main -->

        @{
            if (UserMenus != null)
            {
                foreach (var item in UserMenus.Data)
                {
                    @if (item.Childs == null)
                    {
                        <li class="nav-item">
                            <a href="@item.Url" class="nav-link"><i class="icon-tree5"></i> <span>@item.Label</span></a>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-tree5"></i> <span>@item.Label</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="@item.Label">
                                @foreach (var item2 in item.Childs)
                                {
                                    @if (item2.Childs == null)
                                    {
                                        <li class="nav-item"><a href="@item2.Url" class="nav-link"><i class="icon-IE"></i>@item2.Label</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item nav-item-submenu">
                                            <a href="#" class="nav-link"><i class="icon-IE"></i>@item2.Label</a>
                                            <ul class="nav nav-group-sub">
                                                @foreach (var item3 in item2.Childs)
                                                {
                                                    @if (item3.Childs == null)
                                                    {
                                                        <li class="nav-item"><a href="@item3.Url" class="nav-link"><i class="icon-android"></i> @item3.Label</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="nav-item nav-item-submenu">
                                                            <a href="#" class="nav-link"><i class="icon-apple2"></i> @item3.Label</a>
                                                            <ul class="nav nav-group-sub">
                                                                @foreach (var item4 in item3.Childs)
                                                                {
                                                                    <li class="nav-item"><a href="@item4.Url" class="nav-link"><i class="icon-android"></i> @item4.Label</a></li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }


                                                }

                                            </ul>
                                        </li>
                                    }
                                }
                            </ul>

                        </li>
                    }


                }
            }
        }


    </ul>
</div>


@code {

    string GetHref() => "#";
    bool jsIsLoad = false;

    protected override async Task OnInitializedAsync()
    {
        UserMenus = await MenuApi.GetMenusUserLogin(new Shared.Menu.Queries.GetMenusUserLogin.GetMenusUserLoginRequest());



    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (jsIsLoad == false)
        {

            jsIsLoad = true;
        }
        if (firstRender)
        {
            Console.WriteLine("NAV MENU ==> " + firstRender);
            _jsModule = await JSRuntime.ReadJsFile<NavMenu>();
            await _jsModule.InvokeVoidAsync("Onload");
        }





    }

}