@page "/event/create"
@using global::Shared.Event.Resources
@inject IStringLocalizer<EventLang> localizer

<div class="content">

    <div class="row">
        <div class="col">
            <div class="card border border-secondary">
                <div class="card-header bg-light border-secondary header-elements-inline">
                    <h6 class="card-title">@EventLang.Create_Title</h6>
                </div>

                <div class="card-body">


                    <EditForm Model="@_createModel" OnValidSubmit="@Submit">

                        <FluentValidationValidator />

                        <div class="row">
                            <div class="col">
                                <div class="form-group form-group-floating">
                                    <div class="position-relative">
                                        <InputText @bind-Value="@_createModel.EventName" class="form-control form-control-outline-within" />
                                        <label class="label-floating">@EventLang.Form_EventName</label>
                                    </div>
                                    <ValidationMessage For="@(() => _createModel.EventName)" />
                                </div>
                            </div>
                        </div>

                        <fieldset class="mt-3">
                            <legend class="text-uppercase font-size-lg font-weight-bold border-bottom">
                                <div class="row">
                                    <div class="col-auto mr-auto mt-2"> Pembicara </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-success-100 text-success btn-sm"><i class="icon-add"></i> Tambah</button>
                                    </div>
                                </div>
                            </legend>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <InputText @bind-Value="@_createModel.EventName" class="form-control form-control-outline-within" />
                                            <label class="label-floating">Nama Pembicara</label>
                                        </div>
                                        <ValidationMessage For="@(() => _createModel.TimeFinish)" />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <InputText @bind-Value="@_createModel.EventName" class="form-control form-control-outline-within" />
                                            <label class="label-floating">Topik</label>
                                        </div>
                                        <ValidationMessage For="@(() => _createModel.TimeFinish)" />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <InputText @bind-Value="@_createModel.EventName" class="form-control form-control-outline-within" />
                                            <label class="label-floating">Institusi</label>
                                        </div>
                                        <ValidationMessage For="@(() => _createModel.TimeFinish)" />
                                    </div>
                                </div>

                            </div>

                        </fieldset>


                        <fieldset class="mt-3">

                            <legend class="text-uppercase font-size-lg font-weight-bold border-bottom">
                                <div class="row">
                                    <div class="col-auto mr-auto mt-2"> Tempat & Waktu </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-success-100 text-success btn-sm"><i class="icon-add"></i> Tambah</button>
                                    </div>
                                </div>
                            </legend>

                            <div class="row">

                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group form-group-floating">
                                        <div class="position-relative">
                                            <InputTextArea rows="4" @bind-Value="@_createModel.EventName" class="form-control form-control-outline-within" />
                                            <label class="label-floating">Tempat Acara</label>
                                        </div>
                                        <ValidationMessage For="@(() => _createModel.TimeFinish)" />
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-floating">
                                                <div class="position-relative">
                                                    <InputDate @bind-Value="_createModel.DateStart" class="form-control form-control-outline-within" />
                                                    <label class="label-floating">@EventLang.Form_DateStart</label>
                                                </div>
                                                <ValidationMessage For="@(() => _createModel.DateStart)" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group form-group-floating">
                                                <div class="position-relative">
                                                    <InputText type="time" @bind-Value="_createModel.TimeStart" class="form-control form-control-outline-within" />
                                                    <label class="label-floating">@EventLang.Form_TimeStart</label>
                                                </div>
                                                <ValidationMessage For="@(() => _createModel.TimeStart)" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group form-group-floating">
                                                <div class="position-relative">

                                                    <InputDate @bind-Value="_createModel.DateFinish" class="form-control form-control-outline-within" />
                                                    <label class="label-floating">@EventLang.Form_DateFinish</label>
                                                </div>
                                                <ValidationMessage For="@(() => _createModel.DateFinish)" />
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group form-group-floating">
                                                <div class="position-relative">
                                                    <InputText type="time" @bind-Value="_createModel.TimeFinish" class="form-control form-control-outline-within" />
                                                    <label class="label-floating">@EventLang.Form_TimeFinish</label>
                                                </div>
                                                <ValidationMessage For="@(() => _createModel.TimeFinish)" />
                                            </div>
                                        </div>
                                    </div>


                                </div>




                            </div>
                        </fieldset>






                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">@EventLang.Form_ButtonCreate</button>
                        </div>

                    </EditForm>




                </div>
            </div>
        </div>
    </div>



</div>
