@page "/todo"
@using global::Shared.Todos.Queries.GetTodos




@if (_todos == null)
{
	<Skeleton Active="true"></Skeleton>
	return;
}
<Culture></Culture>


<Card Title="Todo">


	<Extra>
		<Button Type="@ButtonType.Primary" Icon="@IconType.Fill.PlusCircle" OnClick="_modalCreate.ShowModal">Create New Data</Button>
	</Extra>
	<Body>
		<Table TItem="GetTodosResponse" DataSource="@_todos" Bordered=true Size=@TableSize.Small>
			<Column @bind-Field="@context.Id" Sortable></Column>
			<Column @bind-Field="@context.Title" Sortable></Column>
			<TableActionComponent OnClickDelete="(e) => DeleteDataAsync(context.Id)" OnClickUpdate="(e) => UpdateDataAsync(context.Id)" />
		</Table>
	</Body>
</Card>


<CModal @ref="_modalCreate" Title="Todo Create">
	<TodoCreate ReloadData=LoadDateAsync HideModal="_modalCreate.HideModal" />
</CModal>

<CModal @ref="_modalUpdate" Title="Todo Update">
	<TodoUpdate HideModal="_modalUpdate.HideModal" />
</CModal>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>